<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="trust-code collections-trust">
    
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->
  
<!-- TrustBox widget - Micro Review Count -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="60b4dcfb1376d00001bb295c" data-style-height="24px" data-style-width="100%" data-theme="dark">
<a href="https://uk.trustpilot.com/review/www.paragn.co" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
   
 </div>

<div class="reviews-section">

<div class="container">
	
  <div class="review-slider review-slider owl-carousel owl-theme">
  
    <div class="review-slider-content">
    	
      <div class="review-slider-header">
      	 
        <div class="header-part-1">
        	<h1>Jack</h1>
        <p class="star-icons"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
        <p class="trust-review">TRUSTPILOT REVIEW</p>
        </div>
        
        <div class="header-part-2">
        	
          <img src="https://cdn.shopify.com/s/files/1/0048/1322/6033/files/err.png?v=1631787906">
        
        </div>
        
      </div>
      
      <div class="review-slider-content-paragraph">
      
        <p>Brilliant membership at a low priced cost seeing as you get soo much information in this community! Guide videos, every question is answered by everyone and everyone soo welcoming. Been doing this for a month now as a side income and I wish I joined up sooner!					</p>
      
      </div>
      
    </div>
    
    <div class="review-slider-content">
    	
      <div class="review-slider-header">
      	 
        <div class="header-part-1">
        	<h1>Jack</h1>
        <p>Rating stars</p>
        <p class="trust-review">TRUSTPILOT REVIEW</p>
        </div>
        
        <div class="header-part-2">
        	
          <img src="https://cdn.shopify.com/s/files/1/0048/1322/6033/files/err.png?v=1631787906">
        
        </div>
        
      </div>
      
      <div class="review-slider-content-paragraph">
      
        <p>Brilliant membership at a low priced cost seeing as you get soo much information in this community! Guide videos, every question is answered by everyone and everyone soo welcoming. Been doing this for a month now as a side income and I wish I joined up sooner!					</p>
      
      </div>
      
    </div>
    
    <div class="review-slider-content">
    	
      <div class="review-slider-header">
      	 
        <div class="header-part-1">
        	<h1>Jack</h1>
        <p>Rating stars</p>
        <p class="trust-review">TRUSTPILOT REVIEW</p>
        </div>
        
        <div class="header-part-2">
        	
          <img src="https://cdn.shopify.com/s/files/1/0048/1322/6033/files/err.png?v=1631787906">
        
        </div>
        
      </div>
      
      <div class="review-slider-content-paragraph">
      
        <p>Brilliant membership at a low priced cost seeing as you get soo much information in this community! Guide videos, every question is answered by everyone and everyone soo welcoming. Been doing this for a month now as a side income and I wish I joined up sooner!					</p>
      
      </div>
      
    </div>
    
    <div class="review-slider-content">
    	
      <div class="review-slider-header">
      	 
        <div class="header-part-1">
        	<h1>Jack</h1>
        <p>Rating stars</p>
        <p class="trust-review">TRUSTPILOT REVIEW</p>
        </div>
        
        <div class="header-part-2">
        	
          <img src="https://cdn.shopify.com/s/files/1/0048/1322/6033/files/err.png?v=1631787906">
        
        </div>
        
      </div>
      
      <div class="review-slider-content-paragraph">
      
        <p>Brilliant membership at a low priced cost seeing as you get soo much information in this community! Guide videos, every question is answered by everyone and everyone soo welcoming. Been doing this for a month now as a side income and I wish I joined up sooner!					</p>
      
      </div>
      
    </div>
    
    
    <div class="review-slider-content">
    	
     <div class="review-slider-header">
      	 
        <div class="header-part-1">
        	<h1>Jack</h1>
        <p>Rating stars</p>
        <p class="trust-review">TRUSTPILOT REVIEW</p>
        </div>
        
        <div class="header-part-2">
        	
          <img src="https://cdn.shopify.com/s/files/1/0048/1322/6033/files/err.png?v=1631787906">
        
        </div>
        
      </div>
      
      <div class="review-slider-content-paragraph">
      
        <p>Brilliant membership at a low priced cost seeing as you get soo much information in this community! Guide videos, every question is answered by everyone and everyone soo welcoming. Been doing this for a month now as a side income and I wish I joined up sooner!					</p>
      
      </div>
      
    </div>
  
  </div>

</div>
</div>

<script>

  $('.review-slider').owlCarousel({
    loop:true,
    margin:30,
    pagination: false,
    nav:true,
     navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
})


</script>

{% schema %}
  {
    "name": "Custom Review Slider",
    "settings": [
        {
          "type": "checkbox",
          "id": "topoffset",
          "label": "Top Offset",
          "default": false
        }
		
	],
    "blocks": [
      {
        "type": "item",
		"limit": 12,
        "name": "Choose Collection",
        "settings": [
		  
          {
            "type": "collection",
            "id": "collectionCarasoul",
            "label": "Choose Collection"
			
          },
		  {	
            "type": "text",
            "id": "topHeadingBro3",
            "label": "Top Heading"
          }
		]
	  }
      
	],
    "presets": [
      {
        "name": "Custom Review Slider",
      	"category": "Review",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}
